*.log
.DS_Store
*.o
*.pyc
*~
.rop*
.mc-lists.el
.gdb*
!.gdbinit
*.swap
__pycache__
Pipefile.lock
Pipefile
.venv
yarn.lock

## VIM / NVIM
.vim/plugged/*
.vim/autoload/*
.vim/.netrwhist
.vim/spell
.vim/view
.vim/sessions
.vim/nvim
.config/nvim/sessions/
.config/vifm/vifminfo
.config/nvim/autoload/*
!.config/nvim/autoload/plug.vim
.config/nvim/plugged/*
.config/nvim/.netrwhist
.config/nvim/spell
.config/nvim/nvim
.config/nvim/lua/.luarc.json

copyright.pandoc
pandoc
pandoc-citeproc

## ignore symlinks
bin/terraform
bin/terragrunt

## Vagrant
.vagrant/

## Alacritty link to config file
.config/alacritty/alacritty.yml

## Visual Studio Code
.vscode/
.config/Code/*
!.config/Code/User
.config/Code/User/*
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json
!.config/Code/User/snippets/
deploy/conf/VSCode/User/*
!deploy/conf/VSCode/User/settings.json
!deploy/conf/VSCode/User/*.json
!deploy/conf/VSCode/User/snippets/*

## VIFM
.config/vifm/*
!.config/vifm/colors/
!.config/vifm/scripts/
!.config/vifm/vifmrc

## xmonad
.config/xmonad/xmonad.hi
.config/xmonad/xmonad-x86_64-linux
.config/xmonad/xmonad.errors
.config/xmonad/xmonad.o
.config/xmonad/xmonadctl.hi
.config/xmonad/xmonadctl.o

## neovim packer_compiled.lua
.config/nvim/plugin/*

## Karabiner config
.config/karabiner/automatic_backups

