! #########################################
!                  Xft
! #########################################

Xft.dpi: 96
! Xft.dpi: 110
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
! Xft.hintstyle: hintslight
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
! Xcursor.theme: Chameleon-Pearl-Regular-0.5
Xcursor.size: 32
! XTerm*background: #272827
! XTerm*foreground: #fdf6e3
! XTerm*reverseVideo: on
! XTerm*faceName: DejaVu Sans Mono for Powerline:size=12:antialias=true
! XTerm*selectToClipboard: true


! #########################################
!                   URxvt
! #########################################

URxvt.selection.pattern-0: \][ ](.+)
URxvt.selection.pattern-1: >>>[ ]+(.+)
URxvt.cutchars: "\\ `\"\'()*;<>[]{|}&,=?@^\:-."

! URxvt.font: xft:Droid Sans Mono for Powerline:size=10:antialias=true
! URxvt.boldFont: xft:Droid Sans Mono for Powerline:size=10:Bold:antialias=true
! URxvt.boldFont: xft:Cousine for Powerline:size=10:Bold:antialias=true,\
!                 xft:Font Awesome 5 Brands:Solid:size=9

URxvt.font: xft:Cousine for Powerline:antialias=true:size=10, \
            xft:Hack:size=12:antialias=true:size=12, \
            xft:Font Awesome 5 Brands:size=10:style=Solid:size=9;1:pixelsize=12, \
            xft:Font Awesome 5 Free:size=10:style=Solid:size=9;1:pixelsize=12, \
            xft:Source Code Pro:style=medium:size=10:antialias=true:pixelsize=12, \
            xft:Ubuntu Mono derivative Powerline:size=10:pixelsize=12, \
            xft:Inconsolata for Powerline:size=10:pixelsize=12, \
            xft:Dejavu Sans Mono:size=10:pixelsize=12, \
            xft:Symbola:size=10

URxvt.italicFont: xft:Inconsolata:pixelsize=14,xft:Droid Sans Mono:pixelsize=14, \
                  xft:DejaVu Sans Mono:pixelsize=14,xft:Droid Sans Fallback:pixelsize=14, \
                  xft:FreeSans:pixelsize=14,xft:FreeSans:pixelsize=14

URxvt.boldFont: xft:Cousine for Powerline:style=Bold:antialias=true:size=10, \
                xft:Hack:size=12:antialias=true:size=12, \
                xft:Font Awesome 5 Brands:style=Solid:size=9;1:pixelsize=12, \
                xft:Font Awesome 5 Free:style=Solid:size=9;1:pixelsize=12, \
                xft:Source Code Pro:style=Bold:antialias=true:pixelsize=12, \
                xft:Ubuntu Mono derivative Powerline:style=Bold:pixelsize=12, \
                xft:Inconsolata for Powerline:style=Bold:pixelsize=12, \
                xft:Dejavu Sans Mono:style=Bold:pixelsize=12, \
                xft:Symbola
URxvt.depth: 32

!! BACKGROUND TRANSPARENT
URxvt.background: [90]#262626
URxvt.foreground: grey

URxvt.loginShell:               true
URxvt.scrollBar:                false
URxvt.mouseWheelScrollPage:     false
URxvt.cursorBlink:              true
URxvt.saveLines:                5000
URxvt.letterSpace:              -1
URxvt.colorUL:                  #4682B4
URxvt*skipScroll:               true

! also -> ~/.urxvt/ext
URxvt.perl-lib:             /usr/lib/urxvt/perl/

! Extensions
URxvt.perl-ext-common:      default,matcher,font-size,clipboard,confirm-paste,url-select
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.url-select.launcher:  chromium
URxvt.matcher.button:       1
URxvt.matcher.pattern.1:    \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.pattern.2:    \\B(/\\S+?):(\\d+)(?=:|$)
URxvt.matcher.launcher.2:   gvim +$2 $1
URxvt.matcher.launcher:     x-www-browser
URxvt.keysym.C-Delete:      matcher:last
URxvt.keysym.M-Delete:      matcher:list


! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keyprese
URxvt*scrollTtyKeypress: true

! secondary screen buffer
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! tabs
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

! fullscreen press F11
URxvt.keysym.F11: perl:fullscreen:switch

! resize font on the fly
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
! For the Ctrl+Shift bindings to work, a default binding needs to be disabled
URxvt.iso14755: false
URxvt.iso14755_52: false

! do not scroll to bottom when there is output, but do scroll to bottom on key press
URxvt.scrollTtyOutput: False
URxvt.scrollTtyKeypress: True
URxvt.scrollWithBuffer: True

! clipboard
! URxvt.keysym.Mod4-c: perl:clipboard:copy
! URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Base16 Monokai
! Scheme: Wimer Hazenberg (http://www.monokai.nl)
#define base00 #272822
#define base01 #383830
#define base02 #49483e
#define base03 #75715e
#define base04 #a59f85
#define base05 #f8f8f2
#define base06 #f5f4f1
#define base07 #f9f8f5
#define base08 #f92672
#define base09 #fd971f
#define base0A #f4bf75
#define base0B #a6e22e
#define base0C #a1efe4
#define base0D #66d9ef
#define base0E #ae81ff
#define base0F #cc6633
*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
! *background:   base00
*background:   #262626
#endif
*cursorColor:  base05
*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05
*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07
! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

! !! Monokai
! !!! https://github.com/oneKelvinSmith/monokai/blob/master/monokai.palette
! ! URxvt*background: #272822
! URxvt*background: #262626
! ! URxvt*foreground: #d8d8d2
! URxvt*foreground: #F8F8F2
! URxvt*cursorColor: #d8d8d2
!
! URxvt*color0: #49483E
! URxvt*color1: #F92672
! URxvt*color2: #A6E22E
! URxvt*color3: #FD971F
! URxvt*color4: #66D9EF
! URxvt*color5: #AE81FF
! URxvt*color6: #A1EFE4
! URxvt*color7: #D8D8D2
!
! URxvt*color8: #75715E
! URxvt*color9: #FC5C94
! URxvt*color10: #C1F161
! URxvt*color11: #FEB257
! URxvt*color12: #8DE6F7
! URxvt*color13: #C2A1FF
! URxvt*color14: #BBF7EF
! URxvt*color15: #F8F8F0

