[Unit]
Description=Keyboard repeat rate in tty.

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=tty
StandardOutput=tty
ExecStart=/usr/sbin/kbdrate -s -d 190 -r 80

[Install]
WantedBy=multi-user.target
