[Unit]
Description=Run bspwm monitor config script
StartLimitInterval=5
StartLimitBurst=1

[Service]
User=boogy
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/bspwm-setup-monitors.sh
Type=oneshot
RemainAfterExit=false
KillMode=process

[Install]
WantedBy=multi-user.target
