snippet `bash "bash code snippet" b
\`\`\`bash
$0
\`\`\`
endsnippet

snippet `powershell "powershell code snippet" b
\`\`\`powershell
$0
\`\`\`
endsnippet

snippet `pwsh "powershell code snippet" b
\`\`\`powershell
$0
\`\`\`
endsnippet

snippet `csharp "csharp code snippet" b
\`\`\`csharp
$0
\`\`\`
endsnippet

snippet `batch "batch code snippet" b
\`\`\`batch
$0
\`\`\`
endsnippet

